<body>
    <main id="main">
        <!-- ======= Sección inicio ======= -->
        <section>
            <div class="container">
                <div class="titulo">
                    <p><strong>{{title1}}</strong> </p>
                </div>
            </div>
        </section> <!--Fin inicio-->
        <!-- ======= Sección Servicios======= -->
        <section id="services">
            <app-serviciosOfrecidos></app-serviciosOfrecidos>
            <app-serviciosOfrecidos2></app-serviciosOfrecidos2>
        </section><!--Fin servicios-->
        <!-- ======= Sección Noticias======= -->
        <section id="news">
            <div class="container">
                <div class="titulo">
                    <p><strong>{{title2}}</strong> </p>
                </div>
            </div>
        </section><!--Fin noticias-->
    </main>
</body>
<router-outlet></router-outlet>
