<section class="serviciosOfrecidos2">
  <div class="container"></div>
  <div class="container">
    <div *ngFor="let especialidad of especialidades">
      <h3 class="especialidades">{{especialidad.descripcion}}</h3>
      <table>
        <td *ngFor="let servicio of especialidad.servicios" class="principal">
          <tr>
            <td>
              <img src="assets/img/icons/{{servicio.icono}}" width="64px"
                class="ico">
            </td>
            <tr>
              <td class="nombres_esp">{{servicio.nombre_servicio}}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
