<section class="serviciosOfrecidos2">
  <div class="container">
    <div *ngFor="let procedimiento of procedimientos" class="titulo">
      {{procedimiento.descripcion_proc}}
    </div>
    <div *ngFor="let procedimiento of procedimientos" class="principal">
      <div *ngFor="let procedimiento of procedimiento.procedimientos" class="wrapper" >
        <img src="assets/img/icons/{{procedimiento.icono}}" width="64px"
            class="ico">
          <p>{{procedimiento.nombre_servicio}}</p>
      </div>
    </div>
  </div>
</section>
