<section class="serviciosOfrecidos">
  <div class="container">
    <div *ngFor="let especialidad of especialidades" class="principal">
      <div *ngFor="let especialidad of especialidad.especialidades" class="wrapper" >
        <img src="assets/img/icons/{{especialidad.icono}}" width="64px"
            class="ico">
          <p> 
          <button mat-flat-button routerLink="/servicios/subespecialidades">
            {{especialidad.nombre_servicio}}</button></p>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-4">
    </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
</section>