.especialidades{
    text-align: center;
    font-family: Helvetica;
    color: #6f6f6f;
    font-size: 18px;
}
.principal {
    max-width: 128px;
  }
  .ico {
    width: 100%;
  }
  .nombres_esp{
    text-align: right;
    font-weight: bold;
    font-family: helvetica;
  }
  table {
  border-collapse: separate;
  text-align: center;
  border-spacing: 10px 10px;
}
table td {
  text-align: center;
}
table td:nth-child(even) {
  background:#d7f3cb;
}
