.principal {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper {
  display: grid;
  grid-template-rows: 100px 100px;
  grid-gap: 5px;
  background-color: red;
}
